/*
  Versionshantering- slutprojekt (FE23)
  Gritsquare 
  Firebase API
  Grupp 9

  Main interface css
**************************************/


* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}


html, body {
  font-size: 14px;  
  font-family: "Red Hat Display", sans-serif;
  background: #33353d;
  color:#fff;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img{
  max-width:100%;
}

.hide{
  display: none;
}
.wrapper{
  width:70vw;
  margin:0 auto;
}



h1,h2,h3,h4,h5,h6 {
  margin: 0.5em 0 0.5em 0;
}

h1 {
  font-size: 1.3rem;
  margin: 1.5em 0 0.5em 0;
}

h2 {
  font-size: 0.95rem;
  margin: 1em 0 0.5em 0;
}

p {
  margin-bottom: 15px;
}

p:nth-last-child(1) {
  margin-bottom: 0;
}



/****** Header Menu *******/

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #6be8c3, #0076a5);
  color:#0076a5;
  color:#04b2f7;
  color: #FFF;
  font-weight: 600;
  height: 50px;
  padding: 1em;
}
/* .top-nav div:first-child{
  font-weight: 600;
} */

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  
}

.menu > li a{
  color:#0076a5;
  color:#FFF;
  font-weight: 400;
  text-decoration: none;
}
.menu > li a:hover{
  text-decoration: underline;
}


.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


/******* MAIN*******/

.message{
  height:auto;
  max-width:300px;
  font-size: 0.9em;
  padding:10px;
  margin:10px;
  color:#33353d;
  background: radial-gradient(circle, #8aecce 0%, #6be8c3 51%, #6be8c3 100%);
}


/* .message1{
  width:200px;
  margin:30px;
}
.message2{
  position:absolute;
  left:40%;
  top:30%;
}
.message3{
  position:absolute;
  left:10%;
  top:50%;
} */




/****Footer *****/

.main-footer {
  background-color:aquamarine;
  /* background: linear-gradient(to left, #f46b45, #f4d755); */
  background: linear-gradient(to left, #6be89b, #0076a5);

  
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  height: 50px;
  padding: 1.4em;
  flex-shrink: 0;
  margin-top: 40px;
  margin-top: auto;
}

.copyright {
  font-size: 0.7em;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2px 15px;
}

.main-footer a {
  color:#6be89b;
}

.main-footer a:hover {
  color: #fff;
}



@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
